{% set title = 'Entity filter conditions' %}
{{ generatePageBreadcrumbs(title, _self) }}

{{ "Entity filter conditions" | textToHeading('H1') }}

In order to determine whether an entity can be added to a collection (for example, <a>ClassEntity</a> in a <a>ClassEntityCollection</a> ), filter conditions must be used.

Filtering conditions must be set in the configuration:

*  For classes - <a>Configuration::classEntityFilterCondition()</a>
*  For class constants - <a>Configuration::classConstantEntityFilterCondition()</a>
*  For class properties - <a>Configuration::propertyEntityFilterCondition()</a>
*  For class methods - <a>Configuration::methodEntityFilterCondition()</a>

**Usage example:**

{{ "public function classEntityFilterCondition(ClassEntity $classEntity): ConditionInterface
{
    return new TrueCondition();
}" | textToCodeBlock('php') }}


Any conditions must comply with interface <a>ConditionInterface</a>.

To group conditions, there is a <a>ConditionGroup</a> in the documentation generator:

{{ "public function methodEntityFilterCondition(MethodEntity $methodEntity): ConditionInterface {
    return ConditionGroup::create(
        ConditionGroupTypeEnum::AND,
        new MethodVisibilityCondition(
            $methodEntity,
            VisibilityConditionModifier::PUBLIC
        ),
        new MethodOnlyFromCurrentClassCondition(
            $methodEntity
        )
    );
}" | textToCodeBlock('php') }}


{{ "Built-in filter conditions" | textToHeading('H2') }}

{% set filterConditions = phpClassEntityCollection.filterByInterfaces(['BumbleDocGen\\Parser\\FilterCondition\\ConditionInterface']).getOnlyInstantiable() %}

{{ "Common filter conditions" | textToHeading('H3') }}

{{ printEntityCollectionAsList(
    filterConditions.filterByPaths(['/BumbleDocGen/Parser/FilterCondition/CommonFilterCondition'])
) }}

{{ "Class filter conditions" | textToHeading('H3') }}

{{ printEntityCollectionAsList(
    filterConditions.filterByPaths(['/BumbleDocGen/Parser/FilterCondition/ClassFilterCondition'])
) }}

{{ "Method filter conditions" | textToHeading('H3') }}

{{ printEntityCollectionAsList(
    filterConditions.filterByPaths(['/BumbleDocGen/Parser/FilterCondition/MethodFilterCondition'])
) }}

{{ "Property filter conditions" | textToHeading('H3') }}

{{ printEntityCollectionAsList(
    filterConditions.filterByPaths(['/BumbleDocGen/Parser/FilterCondition/PropertyFilterCondition'])
) }}

{{ "Class constant filter conditions" | textToHeading('H3') }}

{{ printEntityCollectionAsList(
    filterConditions.filterByPaths(['/BumbleDocGen/Parser/FilterCondition/ClassConstantFilterCondition'])
) }}