{% if not methodEntityCollection.isEmpty() %}
<h2>{{ blockName }}:</h2>

<ol>
{% for methodEntity in methodEntityCollection %}
<li>
    <a href="#m{{ methodEntity.getName() | prepareSourceLink }}">{% if methodEntity.isDeprecated() %}<s>{{ methodEntity.getName() }}</s>{% else %}{{ methodEntity.getName() }}{% endif %}</a>
    {% if methodEntity.getDescription() %}- <i>{{ methodEntity.getDescription() | removeLineBrakes | raw }}</i>{% endif %}
</li>
{% endfor %}
</ol>
{% endif %}