{% set title = 'Project classes' %}
{% set prevPage = 'Project structure' %}
{{ generatePageBreadcrumbs(title, _self) }}

{{ "Project classes" | textToHeading('H1') }}

<table>
<tr><th>Name</th><th>Namespace</th></tr>
<tr><td colspan='2'><b>Abstract classes</b></td></tr>
{% for abstractClassEntity in phpClassEntityCollection.getOnlyAbstractClasses() %}
<tr><td><a>{{ abstractClassEntity.getName() }}|short_form</a><td>{{ abstractClassEntity.getNamespaceName() }}</td></tr>
{% endfor %}
<tr><td colspan='2'><b>Classes</b></td></tr>
{% for classEntity in phpClassEntityCollection.getOnlyInstantiable() %}
<tr><td><a>{{ classEntity.getName() }}|short_form</a><td>{{ classEntity.getNamespaceName() }}</td></tr>
{% endfor %}
</table>