{% if classEntity.isInternal() %}<b>:warning: Is internal</b>{% endif %}
{% if classEntity.isDeprecated() %}<b>:no_entry: Deprecated</b>{% endif %}

```php
{% if classEntity.getNamespaceName() %}
namespace {{ classEntity.getNamespaceName() }};
{% endif %}

{{ classEntity.getModifiersString() }} {{ classEntity.getShortName() }}{% if classEntity.getExtends() %} extends {{ classEntity.getExtends() }}{% endif %}{% if classEntity.getInterfacesString() %} implements {{ classEntity.getInterfacesString() }}{% endif %}

```

{% if classEntity.getDescription() %}<blockquote>{{ classEntity.getDescription() | raw }}</blockquote>{% endif %}

{% if classEntity.hasDescriptionLinks() %}

See:
<ul>
{% for link in classEntity.getDescriptionLinks() %}
    <li>
        <a {% if link.url %}href="{{ link.url }}"{% endif %}>{{ link.name }}</a>{% if link.description %} - {{ link.description | removeLineBrakes }} {% endif %}
    </li>
{% endfor %}
</ul>
{% endif %}
{% if classEntity.hasExamples() %}


<b>Examples of using:</b>
{% for exampleData in classEntity.getExamples() %}

```php
{{ exampleData.example | raw }}

```
{% endfor %}
{% endif %}