{% set title = 'Plugin system' %}
{{ generatePageBreadcrumbs(title, _self) }}

{{ "Plugin system" | textToHeading('H1') }}

The documentation generator initially includes the possibility of expanding the functionality.
Plugins allow you to add the necessary functionality to the system without changing its core.

Plugin system based on event model.


{{ "Using plugins" | textToHeading('H2') }}

Plugins can be added in documentation generator configuration, in method <a>Configuration::getPlugins()</a>


{{ "Adding a new plugin" | textToHeading('H2') }}

If you decide to add a new plugin, there are a few things you need to do:

*  Implement events handling in plugin class
*  Add plugin to configuration <a>Configuration::getPlugins()</a>:

{{ "public function getPlugins(): PluginsCollection
{
    $plugins = parent::getPlugins();
    $plugins->add(new TwigFunctionClassParserPlugin());
    $plugins->add(new TwigFilterClassParserPlugin());
    return $plugins;
}" | textToCodeBlock('php') }}


{{ "Available plugin events" | textToHeading('H2') }}

{% set pluginEvents = phpClassEntityCollection.filterByPaths(['/BumbleDocGen/Plugin/Event']) %}
{{ printEntityCollectionAsList( pluginEvents ) }}

*A plugin can handle multiple events*


{{ "Example" | textToHeading('H2') }}

Several plugins have been written to create this document. They can be considered as an example:

{{ drawClassMap( phpClassEntityCollection.filterByPaths(['/SelfDoc/Configuration/Plugin'])) }}

```php
{{
    getClassMethodsBodyCode(
        '\\SelfDoc\\Configuration\\Plugin\\TwigFunctionClassParser\\TwigFunctionClassParserPlugin',
        [ 'getSubscribedEvents', 'onLoadEntityDocPluginContentEvent', 'afterLoadingClassEntityCollection' ]
    )
}}
```