{% for methodEntity in methodEntityCollection %}

.. _m{{ methodEntity.getName()|prepareSourceLink }}:

* `# <m{{ methodEntity.getName()|prepareSourceLink }}_>`_  ``{{ methodEntity.getName() }}`` {% if methodEntity.isInternal() %}**:warning:** Is internal {% endif %} {% if methodEntity.isDeprecated() %}**:no_entry:** Deprecated {% endif %} {% if methodEntity.getFileSourceLink() %}**|** `source code <{{ methodEntity.getFileSourceLink() }}>`_{% endif %}

.. code-block:: php

    {% if methodEntity.isImplementedInParentClass() %}
    // Implemented in {{ methodEntity.getImplementingClassName() }}

    {% elseif  methodEntity.isDynamic() %}
    // Implemented in {{ methodEntity.getImplementingClassName() }}::{% if methodEntity.isStatic() %}__callStatic(){% else %}__call(){% endif %}


    {% endif %}
    {{ methodEntity.getModifiersString()|raw }} {{ methodEntity.getName() }}({{ methodEntity.getParametersString()|raw }}): {{ methodEntity.getReturnType() }};


{% if methodEntity.getDescription() %}
..

{{ methodEntity.getDescription()|addIndentFromLeft|quotemeta|removeLineBrakes|raw }}
{% endif %}


{% if methodEntity.getParameters() %}
**Parameters:**

.. raw:: html

    <table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {% for parameter in methodEntity.getParameters() %}
        <tr>
            <td>${{ parameter.name }}</td>
            <td>{{ parameter.expectedType|strTypeToUrl('html') }}</td>
            <td>{% if parameter.description %}{{ parameter.description|addIndentFromLeft(1, true) }}{% else %}-{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% else %}
**Parameters:** not specified
{% endif %}


{% if methodEntity.getReturnType() %}
**Return value:** {{ methodEntity.getReturnType()|strTypeToUrl|quotemeta }}
{% else %}
**Return value:** not specified
{% endif %}
{% if methodEntity.hasThrows() %}


**Throws:**

{% for throw in methodEntity.getThrows(renderContext) %}
#. {% if throw.url %}`{{ throw.name|quotemeta }} <{{ throw.url }}>`_{% else %}**{{ throw.name|quotemeta }}**{% endif %} {% if throw.description %}- {{ throw.description|removeLineBrakes }}{% endif %}

{% endfor %}
{% endif %}
{% if methodEntity.hasDescriptionLinks() %}


**See:**

{% for link in methodEntity.getDescriptionLinks(renderContext) %}
#. {% if link.url %}`{{ link.name|quotemeta }} <{{ link.url }}>`_{% else %}**{{ link.name|quotemeta }}**{% endif %} {% if link.description %}- {{ link.description|quotemeta|removeLineBrakes }}{% endif %}

{% endfor %}
{% endif %}
{% if methodEntity.hasExamples() %}


**Examples of using:**

{% for exampleData in methodEntity.getExamples() %}
.. code-block:: php

{{ exampleData.example|addIndentFromLeft }}


{% endfor %}
{% endif %}

________
{% endfor %}