---
title: Project structure
prevPage: /
---
{{ generatePageBreadcrumbs(title, _self) }}

# Project structure

* <a href="{{ getDocumentationPageUrl('Project interfaces') }}">Interfaces</a>
* <a href="{{ getDocumentationPageUrl('Project classes') }}">Classes</a>
* <a href="{{ getDocumentationPageUrl('Project traits') }}">Traits</a>
* <a href="{{ getDocumentationPageUrl('Project entities map') }}">All entities map</a>