{% set title = 'Template fillers' %}
{{ generatePageBreadcrumbs(title, _self) }}

{{ "Template fillers" | textToHeading('H1') }}

Sometimes there are situations when the template needs to be filled with some dynamic information,
which can be dynamically obtained when generating documentation. If this information is not in the variables already passed to the template,
you can create a TemplateFiller that will collect this information and pass it to the template.

{{ "Adding a new template filler" | textToHeading('H2') }}

If you decide to add a new template filler, there are a few things you need to do:

*  Add a new class that implements the <a>TemplateFillerInterface</a> interface
*  In method <a>TemplateFillerInterface::getTemplateParameters()</a>, implement the return of the parameters that are expected in the template
*  Add a new filler to the <a>TemplateFillersCollection::setForTemplate()</a> returned in the <a>Configuration::getTemplateFillers()</a> method

After that, the data will be available in the template you connected it to in step 3.

The data is passed to the template in the **fillersParameters** variable:

{{ '<pre>&#123;&#123; fillersParameters.someParameter &#125;&#125;</pre>' }}

{{ "Template fillers class map" | textToHeading('H2') }}

{{ drawClassMap( phpClassEntityCollection.filterByPaths(['/BumbleDocGen/Renderer/TemplateFiller']) ) }}