{% set title = 'Source locators' %}
{{ generatePageBreadcrumbs(title, _self) }}

{{ "Source locators" | textToHeading('H1') }}

Source locators are needed so that the parser knows which files to parse, or to get data on a specific file after the primary parsing procedure

Source locators are set in the configuration, in method <a>ConfigurationInterface::classEntityFilterCondition()</a>.
They can also be connected using plugins handle <a>OnLoadSourceLocatorsCollection</a> event

**Usage example:**

{{ 'public function getSourceLocators(): SourceLocatorsCollection
{
    return SourceLocatorsCollection::create(
        new RecursiveDirectoriesSourceLocator([
            "{$this->getProjectRoot()}/BumbleDocGen",
            "{$this->getProjectRoot()}/SelfDoc",
        ]),
    );
}' | textToCodeBlock('php') }}


All source locators must implement the <a>SourceLocatorInterface</a> interface.


{{ "Built-in source locators" | textToHeading('H2') }}

{% set sourceLocators = phpClassEntityCollection.filterByInterfaces(['BumbleDocGen\\Parser\\SourceLocator\\SourceLocatorInterface']).getOnlyInstantiable() %}
{{ printEntityCollectionAsList(sourceLocators) }}