---
title: Entities and entities collections
prevPage: Parser
---
{{ generatePageBreadcrumbs(title, _self) }}

{{ "Entities and entities collections" | textToHeading('H1') }}

Entities are organized outcomes from parsing source code.
They help easily extract details about specific items from templates, allowing users to quickly access and display the information they need.

Entities are always handled through collections. Collections are the result of the project parsing process and are available in both documentation templates and code.

{{ "Examples of using collections in twig templates" | textToHeading('H2') }}

* Passing a collection to a function:

{{ "{{ printEntityCollectionAsList(phpEntities) }}" | textToCodeBlock('twig') }}

* Filtering a collection and passing it to a function:

{{ "{{ printEntityCollectionAsList(phpEntities.filterByInterfaces(['BumbleDocGen\\Core\\Parser\\Entity\\EntityInterface'])) }}" | textToCodeBlock('twig') }}

* Saving a filtered collection to a variable:

{{ "{{ {% set filteredCollection = phpEntities.getOnlyInstantiable() %} }}" | textToCodeBlock('twig') }}

* Using a collection in a for loop:

{{ "{% for someClassEntity in phpEntities %}
    * {{ someClassEntity.getName() }}
{% endfor %}" | textToCodeBlock('twig') }}

* Output of all methods of all found entities in `className::methodName()` format:

{{ "{% for someClassEntity in phpEntities %}
    {% for methodEntity in someClassEntity.getMethodEntitiesCollection() %}
        * {{ someClassEntity.getName() }}::{{ methodEntity.getName() }}()
    {% endfor %}
{% endfor %}" | textToCodeBlock('twig') }}

{{ "Root entities collections" | textToHeading('H2') }}

To further facilitate the handling of these entities, we utilize entity collections.
These collections not only group relevant entities together but also provide convenient methods for filtering and manipulating these entities.
The root collections ([a]RootEntityCollection[/a]), which are directly accessible in your templates, are as follows:

<table>
    <tr>
        <th>Collection class</th>
        <th>Name in twig template</th>
        <th>PL</th>
        <th>Description</th>
    </tr>
    {% for entitiesCollection in phpEntities
            .filterByParentClassNames(['BumbleDocGen\\Core\\Parser\\Entity\\RootEntityCollection'])
            .getOnlyInstantiable()
            %}
    {% set match = entitiesCollection.getRelativeFileName() | preg_match('/(\\/LanguageHandler\\/)([\\s\\S]*?)(?=\\/)/i') %}
    <tr>
        <td>{{ drawDocumentedEntityLink(entitiesCollection) }}</td>
        <td><b>{{ entitiesCollection.getMethod('getEntityCollectionName', true).getFirstReturnValue() }}</b></td>
        <td>{{ match[2] | upper }}</td>
        <td>{{ entitiesCollection.getDescription() }}</td>
    </tr>
    {% endfor %}
</table>

{{ "Available entities" | textToHeading('H2') }}

Following is the list of available entities that are consistent with [a]EntityInterface[/a] and can be created.
These classes are a convenient wrapper for accessing data in templates:

<table>
    <tr>
        <th>Entity name</th>
        <th>Collection name</th>
        <th>Is root</th>
        <th>PL</th>
        <th>Description</th>
    </tr>
{% for entitiesCollection in phpEntities
    .filterByParentClassNames(['BumbleDocGen\\Core\\Parser\\Entity\\BaseEntityCollection'])
    .getOnlyInstantiable()
%}
    {% set match = entitiesCollection.getRelativeFileName() | preg_match('/(\\/LanguageHandler\\/)([\\s\\S]*?)(?=\\/)/i') %}
    {% set entitiesClasses = findEntitiesClassesByCollectionClassName(entitiesCollection.getName()) %}
    {% for entityClass in entitiesClasses %}
    <tr>
        <td>{{ drawDocumentedEntityLink(entityClass) }}</td>
        <td>{{ drawDocumentedEntityLink(entitiesCollection) }}</td>
        <td>{% if entityClass.implementsInterface('BumbleDocGen\\Core\\Parser\\Entity\\RootEntityInterface') %}yes{% else %}no{% endif %}</td>
        <td>{{ match[2] | upper }}</td>
        <td>{{ entityClass.getDescription() }}</td>
    </tr>
    {% endfor %}
{% endfor %}
</table>