{% if not classEntity.getConstantEntityCollection().isEmpty() %}
<h2>Constants:</h2>
<ul>
    {% for constantEntity in classEntity.getConstantEntityCollection() %}
        <li><a name="q{{ constantEntity.getName() | prepareSourceLink }}"
               href="#q{{ constantEntity.getName() | prepareSourceLink }}">#</a>
            <code>{{ constantEntity.getName() }}</code> {% if constantEntity.isInternal() %}:warning: Is internal {% endif %} {% if constantEntity.isDeprecated() %}:no_entry: Deprecated {% endif %} {% if constantEntity.getRelativeFileName() %}
                <b>|</b> <a href="{{ constantEntity.getRelativeFileName() }}#L{{ constantEntity.getStartLine() }}">source
                    code</a> {% endif %}</li>
    {% endfor %}
</ul>
{% endif %}