{% if not methodEntitiesCollection.isEmpty() %}
## Methods details:
{% for methodEntity in methodEntitiesCollection %}

<a name="m{{ methodEntity.getName() | prepareSourceLink }}" href="#m{{ methodEntity.getName() | prepareSourceLink }}">#</a> `{{ methodEntity.getName() }}` {% if methodEntity.isInternal() %}⚠️ Internal {% endif %} {% if methodEntity.isDeprecated() %}⛔ Deprecated {% endif %}{% if methodEntity.getFileSourceLink() %}**|** [source code]({{ methodEntity.getFileSourceLink() }}){% endif %}

```php
{% if methodEntity.isImplementedInParentClass() %}
// Implemented in {{ methodEntity.getImplementingClassName() }}

{% elseif  methodEntity.isDynamic() %}
// Implemented in {{ methodEntity.getImplementingClassName() }}::{% if methodEntity.isStatic() %}__callStatic(){% else %}__call(){% endif %}


{% endif %}
{{ methodEntity.getModifiersString() | raw }} {{ methodEntity.getName() }}({{ methodEntity.getParametersString() | raw }}){% if not methodEntity.isConstructor() %}: {{ methodEntity.getReturnType() | raw }}{% endif %};
```
{% if methodEntity.getDescription() %}
{{ methodEntity.getDescription() | raw }}
{% endif %}
{% if methodEntity.getParameters() %}

***Parameters:***

| Name | Type | Description |
|:-|:-|:-|
{% for parameter in methodEntity.getParameters() %}
${{ parameter.name }}{% if parameter.isVariadic %} <i>(variadic)</i>{% endif %} | {{ parameter.expectedType | strTypeToUrl(methodEntity.getRootEntityCollection(), false, propRefsInternalLinksMode, ' \\| ') }} | {% if parameter.description %}{{ parameter.description | addIndentFromLeft(1, true) }}{% else %}-{% endif %} |
{% endfor %}
{% endif %}
{% if not methodEntity.isConstructor() and methodEntity.getReturnType() %}

***Return value:*** {{ methodEntity.getReturnType() | strTypeToUrl(methodEntity.getRootEntityCollection(), false, propRefsInternalLinksMode) }}
{% endif %}
{% if methodEntity.hasDescriptionLinks() %}

***Links:***
{% for link in methodEntity.getDescriptionLinks() %}
- {% if link.url %}[{{ link.name }}]({{ link.url }}){% elseif link.className %}{{ link.className|strTypeToUrl(classEntity.getRootEntityCollection(), false, true) }}{% else %}{{ link.name }}{% endif %}{% if link.description %} - {{ link.description | removeLineBrakes }} {% endif %}

{% endfor %}
{% endif %}
{% if methodEntity.hasExamples() %}

***Examples of using:***
{% for exampleData in methodEntity.getExamples() %}
```php
{{ exampleData.example | raw }}
```
{% endfor %}
{% endif %}

---
{% endfor %}
{% endif %}