{% if not classEntity.getPropertyEntitiesCollection().isEmpty() %}
## Properties details:
{% for propertyEntity in classEntity.getPropertyEntitiesCollection() %}

<a name="p{{ propertyEntity.getName() | prepareSourceLink }}" href="#p{{ propertyEntity.getName() | prepareSourceLink }}">#</a> `{{ propertyEntity.getName() }}` {% if propertyEntity.isInternal() %}⚠️ Internal {% endif %} {% if propertyEntity.isDeprecated() %}⛔ Deprecated {% endif %}{% if propertyEntity.getFileSourceLink() %}**|** [source code]({{ propertyEntity.getFileSourceLink() }}){% endif %}

```php
{% if propertyEntity.isImplementedInParentClass() %}
// Implemented in \{{ propertyEntity.getImplementingClassName() }}

{% endif %}
{{ propertyEntity.getModifiersString() }} ${{ propertyEntity.getName() }};

```
{% if propertyEntity.getDescription() %}
{{ propertyEntity.getDescription() | raw }}
{% endif %}
{% if propertyEntity.hasDescriptionLinks() %}

***Links:***
{% for link in propertyEntity.getDescriptionLinks() %}
- {% if link.url %}[{{ link.name }}]({{ link.url }}){% else %}{{ link.name }}{% endif %}{% if link.description %} - {{ link.description | removeLineBrakes }} {% endif %}

{% endfor %}
{% endif %}

---
{% endfor %}
{% endif %}